@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@400;700;900&display=swap');

:root {
	--blue-whale: #043a4e;
	--gray-nurse: #e0e4db;
	--gallery: #ebebeb;
	--gumbo: #789fac;
	--niagara: #0ea489;
	--corn: #e3c306;
	--dark-corn: #c2a503;
	--font-color: white;
}

body,
h1,
h2,
h3 {
	font-family: 'Roboto', sans-serif;
}

h1 {
	text-align: center;
	font-weight: 700;
	background: var(--gallery);
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 3px solid black;
	font-size: 3rem;
}

h1 span:nth-child(1) {
	color: var(--niagara);
}

h1 span:nth-child(2) {
	color: var(--blue-whale);
}

h1 span:nth-child(3) {
	color: var(--corn);
}

body {
	background-color: var(--blue-whale);
}

body,
label,
.button.success,
.button.success:hover,
.button.success.disabled,
.button.success.disabled:focus,
.button.success.disabled:hover,
.button.success[disabled],
.button.success[disabled]:focus,
.button.success[disabled]:hover {
	color: var(--font-color);
}

.container {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

#gameBoard {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 0 auto;
	max-width: 375px;
	max-height: 375px;
}

.game-cell {
	flex-basis: 33.33%;
	height: 125px;
	border: 1px solid white;
	box-sizing: border-box;
	font-size: 72px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-family: 'Permanent Marker', cursive;
}

.game-cell:first-child {
	border-top: 0;
	border-left: 0;
}

.game-cell:nth-child(2) {
	border-top: 0;
}

.game-cell:nth-child(3) {
	border-top: 0;
	border-right: 0;
}

.game-cell:nth-child(4) {
	border-left: 0;
}

.game-cell:nth-child(6) {
	border-right: 0;
}
.game-cell:nth-child(7) {
	border-left: 0;
	border-bottom: 0;
}
.game-cell:nth-child(8) {
	border-bottom: 0;
}
.game-cell:nth-child(9) {
	border-right: 0;
	border-bottom: 0;
}
.X {
	color: var(--niagara);
}
.O {
	color: var(--corn);
}

#newGameBtn {
	margin-top: 15px;
	margin-bottom: 0;
}

button {
	cursor: pointer;
}
button.submit {
	margin: 0 auto;
}

.button.secondary,
.button.secondary.disabled,
.button.secondary.disabled:focus,
.button.secondary.disabled:hover,
.button.secondary[disabled],
.button.secondary[disabled]:focus,
.button.secondary[disabled]:hover {
	background-color: var(--corn);
	color: black;
}

.button.secondary:focus,
.button.secondary:hover {
	background-color: var(--dark-corn);
	color: black;
}

.hidden {
	display: none;
}

.scoreboard {
	margin-bottom: 15px;
}

.gameOptions {
	margin-bottom: 15px;
}

.gameOptions .button-group {
	margin: 0 auto;
	width: 50%;
}

#gameMsg {
	margin-top: 10px;
}

/* Sticky Footer */
body {
	min-height: 100vh;
	display: flex;
	gap: 15px;
	flex-direction: column;
}
.container {
	flex: 1;
}

footer {
	flex-shrink: 0;
	text-align: center;
	padding-bottom: 50px;
}

footer a,
footer i {
	cursor: pointer;
	color: var(--corn);
}
footer i {
	/* color: var(--dark-olive-green); */
	transition: transform 0.15s ease-in-out;
}

footer i:hover {
	/* color: var(--kombu-green); */
	transform: scale(1.2);
}

@media screen and (max-width: 640px) {
	.cell.small-0 {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	.container {
		width: 80%;
	}
	#gameBoard {
		max-width: 450px;
		max-height: 450px;
	}
	.game-cell {
		height: 150px;
	}
}

@media screen and (min-width: 1024px) {
	h1 {
		font-size: 5rem;
	}
	.container {
		width: 70%;
	}
	#gameBoard {
		max-width: 525px;
		max-height: 525px;
	}
	.game-cell {
		height: 175px;
	}
}
